.user_img{
     float: left;
}
.user_table{
    background: #F5F5F5;
    position: absolute;
    width:150px;
    top: 25% ;
    margin-top: 3px;
    border-radius: 2px;
}
body{
    background: #2c2c2c;
}

form{
    float: right;
}