{% extends 'layout_with_user.html' %}

{% block title %}Домашняя страница{% endblock %}
{% block content %}
       <form action="{% url 'home' %}" class="search">
            <input type="text" name="search" class="search_" placeholder="Search here!" >
            <input type="submit" name="submit" class="submit" value="Search">
    	</form>
		<dev class="user_img">
			{% if request.user.is_authenticated %}
				<a href="{{ media_url }}{{ user.img }}" name="user_img" ><img src="{{ media_url }}{{ user.img }}" width="150" height="150"></a>
			{% else %}
				Зарегистрируйтесь!
			{% endif %}
		</dev>

{% endblock %}