{% extends 'clean_layout.html' %}

{% block title %}Профиль пользователя {{ user_ }}{% endblock %}

{% block content %}
    {{ user_.first_name }} // {{ user_.last_name }}<br>

    <p><a href="{{ media_url }}{{ user_.img }}"><img src="{{ media_url }}{{ user_.img }}" width="150" height="150"></a></p>

    Дата регистрации: {{ user_.date_joined }} UTC <br>


    Дата последнего входа: {{ user_.last_login }} UTC <br>

    <div class="friends">
        {% if user_.friends_list.all %}
            {{ user_.friends_list.count }} друга: <br>
            {% for el in user_.friends_list.all %}
                <p><a href="{% url 'profile' el.id %}">{{ el.first_name }} // {{ el.last_name }}</a></p>
            {% endfor %}
        {% else %}
            0 друзей

        {% endif %}
    </div>
{% endblock %}